@import url('https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

// Constants
$main: #e3e8ee;
$text: #212529;
$yellow: hsl(61, 92%, 64%);
$blue: hsl(187, 70%, 53%);
$grey: hsl(198, 47%, 18%);
$lite-grey: hsl(0, 0%, 60%);

$main-font: 'Anton', sans-serif;
$second-font: 'Rubik', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e8ee;
  height: 100vh;
  overflow-x: hidden;
  font-family: $main-font;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  transform: translateY(-10px);
  transform: translateX(10px);
}

.logo-icon {
  height: 100px;
  width: 100px;
}

header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    &.gap {
      gap: 1.5rem;
    }
  }

  .title {
    font-size: 2.7rem;
  }
  .nav-item {
    font-size: 1.7rem;
    color: $text;
  }
}
