@import url('https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

// Constants
$main: #fdf5c9;
$text: #212529;
$text-muted: #6c757d;
$yelllow: #c9a227;
$blue: hsl(187, 70%, 53%);
$grey: hsl(198, 47%, 18%);
$lite-grey: hsl(0, 0%, 60%);

$main-font: 'Anton', sans-serif;
$second-font: 'Rubik', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main;
  height: 100vh;
  overflow-x: hidden;
  font-family: $main-font;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  transform: translateY(-2px);
}

.logo-icon {
  height: 100px;
  width: 100px;
}

header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    &.gap {
      gap: 1.5rem;
    }
  }

  .title {
    font-size: 1.7rem;
    font-weight: 100;
    font-family: $second-font;
  }
  .cart-icon {
    position: relative;
    .cart-amount {
      position: absolute;
      top: -7px;
      right: -17px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $yelllow;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      font-family: $second-font;
    }
  }

  .nav {
    cursor: pointer;
    .nav-item {
      position: relative;
      font-size: 1.7rem;
      color: $text-muted;
      &.active {
        color: $text;
        font-weight: 600;
      }
      &:after {
        content: '';
        position: absolute;
        background: $yelllow;
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
}

.btn {
  cursor: pointer;
  padding: 0.9rem 2rem;
  background: $yelllow;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #fff;
  box-shadow: 0 0 0 $grey;
  transition: all 0.2s ease;
  &:hover {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 0.5rem 0.5rem 0 $grey;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: $yelllow;
  color: #fff;
}
