@import url('https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

// Constants
$main: #fdf5c9;
$text: #212529;
$text-muted: #6c757d;
$yelllow: #c9a227;
$orange: #ffa500;
$blue: hsl(187, 70%, 53%);
$grey: hsl(198, 47%, 18%);
$lite-grey: hsl(0, 0%, 60%);

$main-font: 'Anton', sans-serif;
$second-font: 'Rubik', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main;
  height: 100vh;
  overflow-x: hidden;
  font-family: $main-font;
}
#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  transform: translateY(-2px);
}

.logo-icon {
  height: 100px;
  width: 100px;
}

header {
  padding: 1rem 3rem;
  display: flex;
  gap: 20px;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    flex: 1;
    &.gap {
      gap: 1.5rem;
    }
  }
  .nav-wrapper {
    flex: 2;
    display: flex;
    gap: 17rem;
  }

  .title {
    font-size: 1.7rem;
    font-weight: 100;
    font-family: $second-font;
  }
  .cart-icon {
    position: relative;
    .cart-amount {
      position: absolute;
      top: -7px;
      right: -17px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $yelllow;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      font-family: $second-font;
    }
  }

  .nav {
    cursor: pointer;
    .nav-item {
      position: relative;
      font-size: 1.7rem;
      color: $text-muted;
      &.active {
        color: $text;
        font-weight: 600;
      }
      &:after {
        content: '';
        position: absolute;
        background: $yelllow;
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
}

.btn {
  cursor: pointer;
  padding: 0.9rem 2rem;
  background: $yelllow;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #fff;
  box-shadow: 0 0 0 $grey;
  transition: all 0.2s ease;
  &:hover {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 0.5rem 0.5rem 0 $grey;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: $yelllow;
  color: #fff;
}

main {
  flex: 1;
  padding: 0 3rem 4rem 3rem;
}

.home {
  padding: 3rem;
  margin: 1rem auto 0;
  display: flex;
  border: 3px solid #000;
  .content {
    flex: 0 0 50%;
    .title {
      padding: 3rem 0 0 0;
      font-size: 3rem;
    }
  }
}

.subtitle {
  font-weight: 400;
  color: $lite-grey;
  line-height: 1.5;
  margin: 2rem 0 3rem 0;
}
.preview {
  flex: 0 0 50%;
  text-align: center;

  .card {
    height: 450px;
    width: 500px;
    box-shadow: 1rem 1rem 0 $yelllow, 1rem 1rem 0 2px #000;
    .image {
      width: 450px;
    }
  }
}

.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  color: inherit;
}
.about {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #000;
  font-weight: 300;
  font-size: 1.3rem;
  .price {
    color: $yelllow;
  }
}

.card-page {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem 0 0 0;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  .image {
    flex: 1 1 50%;
    border: 3px solid #000;
    max-width: 600px;
    height: 500px;
  }
  .content {
    flex: 1 1 50%;
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    .about {
      display: flex;
      justify-content: space-between;
      border: none;
      .title {
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 3px;
      }
      .price {
        font-size: 2rem;
      }
    }
    .description {
      max-width: 600px;
      color: $lite-grey;
      margin: 1rem 0 1.5rem 0;
    }
    .size-picker {
      margin: 1.5rem 0 2rem;
    }
    .buttons {
      flex: 1;
      align-items: flex-end;
      display: flex;
      gap: 2rem;
    }
  }
}

.color-picker {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1rem;
    background: #000;
  }

  .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 0.5rem 0;
  }

  .colors {
    display: flex;
    gap: 0.7rem;
    .color {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      &.w {
        background: #fff;
        border: 1px solid #ccc;
      }
      &.o {
        background: $orange;
      }
      &.r {
        background: #ce4257;
      }
      &.p {
        background: #7209b7;
      }
      &.g {
        background: #a7c957;
      }
      &.active {
        border: 2px solid #000;
      }
    }
  }
}

.size-picker {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1rem;
    background: #000;
  }
  .title {
    text-transform: uppercase;
    margin: 0 0 0.5rem 0;
  }
  .sizes {
    display: flex;
    gap: 0.7rem;
    .size {
      border: 2px solid #000;
      padding: 0.3rem 0.5rem 0.4rem;
      font-size: 1.2rem;
      font-weight: 700;
      cursor: pointer;
      &.active {
        color: #fff;
        background: $yelllow;
      }
    }
  }
}

.amount-btn {
  padding: 0.8rem 0.5rem;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  font-family: $second-font;
  font-size: 1.5rem;
  user-select: none;
  svg {
    cursor: pointer;
  }
}

.shop {
  text-align: center;
  h2.title {
    font-size: 3rem;
  }
  .grid {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2rem;
    .card {
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: translate(-0.5rem, -0.5rem);
        box-shadow: 0.5rem 0.5rem 0 $yelllow, 0.5rem 0.5rem 0 2px #000;
      }
    }

    .image {
      width: 500px;
      height: 300px;
      object-fit: contain;
    }
    .more {
      display: flex;
      align-items: center;
      gap: 3px;
      color: $yelllow;
      font-size: 1.3rem;
      position: absolute;
      left: 50%;
      bottom: -3.2rem;
      transform: translateX(-50%);
      cursor: pointer;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all 0.3s ease;
  &.active {
    background: #0005;
    visibility: visible;
  }
}

.cart {
  padding: 2rem;
  width: 400px;
  min-height: 100vh;
  background-color: $main;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  &.active {
    transform: translateX(0%);
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: $yelllow;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;

    &:hover {
      transform: translate(-3px, -3px);
      box-shadow: 3px 3px 0 $grey;
    }
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: #fff;
      transform: rotate(45deg);
    }
    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: #fff;
      transform: rotate(-45deg);
    }
  }

  .title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0 0 4rem 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translate(-50%);
      width: 90%;
      height: 1px;
      background: #ccc;
    }
    .item {
      display: flex;
      align-items: center;
      gap: 1rem;
      .image {
        padding: 0.5rem 0.2rem;
        border: 1px solid #ccc;
        position: relative;
        border-radius: 5px;
        .amount {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          position: absolute;
          border: 1px solid #ccc;
          border-radius: 50%;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
          font-family: $second-font;
          line-height: 0;
          background: $main;
        }
        img {
          width: 80px;
          height: 65px;
        }
      }
      .info {
        display: flex;
        gap: 1rem;
        font-weight: 700;
        .item-title {
          letter-spacing: 1px;
          color: $grey;
        }
        .price {
          font-size: 1.3rem;
          color: $yelllow;
        }
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin: 0 0 1rem 0;
    .total-title {
      font-size: 1.8rem;
    }
    .total-price {
      color: $yelllow;
      font-size: 1.8rem;
    }
  }
  .checkout-btn {
    text-transform: uppercase;
    text-align: center;
  }
}

.hamburger {
  display: none;
}

/* Media queries */
@media (max-width: 768px) {
  main {
    padding: 0;
    padding-inline: 15px;
  }

  .container.gap {
    display: none;
  }
  .cart {
    transform: translateX(-1500%);
  }

  .home {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
  }
  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  .home {
    padding: 20px;
    margin: 0;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 1.8rem;
      }
    }
    .preview {
      padding: 50px 0 20px 0;
      .card {
        width: 250px;
        height: 200px;
        .image {
          width: 150px;
        }
      }
    }
  }

  .shop {
    padding-bottom: 50px;
    h2.title {
      font-size: 1.7rem;
    }
    .grid {
      .card {
        width: 300px;
        height: 320px;
        .image {
          width: 250px;
        }
      }
    }
  }
  .card-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      width: 300px;
      border: 1px solid;
    }
    .content {
      flex: 1;
      padding-inline: 40px;
      .about {
        .title {
          font-size: 1.5rem;
        }
        .price {
          font-size: 1.5rem;
        }
      }
      .description {
        padding-inline: 20px;
      }
      .color-picker {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 20px;
        .title {
          font-size: 1.3rem;
        }
      }
      .size-picker {
        .size {
          font-size: 1rem;
        }
      }
      .buttons {
        .cart-btn.btn {
          padding-block: 0.9rem;
          padding-inline: 0.7rem;
          display: flex;
          justify-content: space-between;
          font-size: 1.2rem;
        }
      }
    }
  }
  .burger {
    height: 20px;
    width: 20px;
  }
  .footer {
    margin-top: 20px;
  }
  .nav-wrapper {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 300px;
    background: wheat;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 0;
    flex: 1 1 0%;
    min-width: 0;
  }
  .nav {
    width: 100%;
    min-width: 0;
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
  }
  .container.nav,
  .container.cart-container {
    display: flex;
  }
  .nav-wrapper.open {
    transform: translateX(0);
    gap: 0;
  }
  .mobile-nav {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-block: 15px;
  }
  .cart-container {
    display: flex;
    justify-content: center;
    .magnif,
    .btn {
      display: none;
    }
  }
  .cart.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    .total {
      display: flex;
      gap: 12rem;
    }
  }
}
